#About {

  .section__intro {
    padding-bottom: var(--pad);
    background-color: var(--color-white);
    .col__right {
      img {
        border-radius: var(--radius);
        aspect-ratio: 1.3 / 1;
      }
    }
  }

  .section__faq {
    background-color: var(--color-gray-light);
    padding-bottom: var(--pad);
  }

  .section__numbers {
    padding-bottom: var(--pad);
  }

  .section__our-history {
    background-color: var(--color-gray);
     p {
      color: var(--color-white);
    }
  }
}

/*  Tableta  */
@media only screen and (max-width: 1024px) {
}

/*  Móvil  */
@media only screen and (max-width: 768px) {
}
